:root{
    --red: #F1060B;
    --blue: #1A48A0;
    --yellow: #FFEE15;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--yellow);
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Press Start 2P', cursive;
}

h1{
    color: var(--blue);
    text-align: center;
}

button{
    border: none;
    border-radius: 1rem;
    padding: 0.6rem;
    background-color: var(--red);
    font-family : inherit;
    font-size: 2.5rem;
    cursor: pointer;
}

#canvas{
    display: inline-grid;
}

.container{
    display: flex;
    justify-content: center;
}

.small{
    grid-template-columns: repeat(10, auto);
}

.medium{
    grid-template-columns: repeat(16, auto);
}

.large{
    grid-template-columns: repeat(20, auto);
}

.center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons{
    margin-top: 1.5rem;
    text-align: center;
}

.content{
    height: 3rem;
    width: 3rem;
    border-style: solid;
    border-width: 0.06rem;
}